*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(54, 54, 54);
}

.blender{
    width: 700px;
    height: 500px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-image: url(./img/licuadoraApagada.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.blender.active{
    background-image: url(./img/licuadoraEncendida.gif);
}

.blender-button{
    width: 10px;
    height: 10px;
    background-color: blue;
    margin: 350px auto 0px;
}
